<a href="https://colab.research.google.com/github/AnushaNarayananP/google_colab/blob/main/Quantile.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Quantile of the List Object

In [1]:
my_list=[8,4,4,3,2,4,1,3,5,2,1,3,7]
print(my_list)

[8, 4, 4, 3, 2, 4, 1, 3, 5, 2, 1, 3, 7]

In [2]:
import numpy as np

In [5]:
print(np.quantile(my_list,q=np.arange(0.25,1,0.25)))

[2. 3. 4.]

In [6]:
print(np.quantile(my_list,q=np.arange(0.1,1,0.1)))

[1.2 2.  2.6 3.  3.  4.  4.  4.6 6.6]

In [7]:
print(np.quantile(my_list,q=np.arange(0.01,1,0.01)))

[1.   1.   1.   1.   1.   1.   1.   1.   1.08 1.2  1.32 1.44 1.56 1.68
 1.8  1.92 2.   2.   2.   2.   2.   2.   2.   2.   2.   2.12 2.24 2.36
 2.48 2.6  2.72 2.84 2.96 3.   3.   3.   3.   3.   3.   3.   3.   3.
 3.   3.   3.   3.   3.   3.   3.   3.   3.12 3.24 3.36 3.48 3.6  3.72
 3.84 3.96 4.   4.   4.   4.   4.   4.   4.   4.   4.   4.   4.   4.
 4.   4.   4.   4.   4.   4.12 4.24 4.36 4.48 4.6  4.72 4.84 4.96 5.16
 5.4  5.64 5.88 6.12 6.36 6.6  6.84 7.04 7.16 7.28 7.4  7.52 7.64 7.76
 7.88]

In [8]:
import pandas as pd

In [9]:
data = pd.DataFrame({'x1':[6,2,7,3,1,4,3,4,8,7,5],'x2':range(10,21),'group':['A','B','B','C','A','B','A','C','B','B','A']})
print(data)

    x1  x2 group
0    6  10     A
1    2  11     B
2    7  12     B
3    3  13     C
4    1  14     A
5    4  15     B
6    3  16     A
7    4  17     C
8    8  18     B
9    7  19     B
10   5  20     A

In [10]:
print(data['x1'].quantile(np.arange(0.25,1,0.25)))

0.25    3.0
0.50    4.0
0.75    6.5
Name: x1, dtype: float64

In [11]:
print(data['x1'].quantile(np.arange(0.1,1,0.1)))

0.1    2.0
0.2    3.0
0.3    3.0
0.4    4.0
0.5    4.0
0.6    5.0
0.7    6.0
0.8    7.0
0.9    7.0
Name: x1, dtype: float64

In [12]:
print(data['x1'].quantile(np.arange(0.01,1,0.01)))

0.01    1.1
0.02    1.2
0.03    1.3
0.04    1.4
0.05    1.5
       ...
0.95    7.5
0.96    7.6
0.97    7.7
0.98    7.8
0.99    7.9
Name: x1, Length: 99, dtype: float64

In [13]:
print(data.quantile(np.arange(0.25,1,0.25),numeric_only = True))

       x1    x2
0.25  3.0  12.5
0.50  4.0  15.0
0.75  6.5  17.5

In [14]:
print(data.groupby('group').quantile(0.25))

         x1    x2
group
A      2.50  13.0
B      4.00  12.0
C      3.25  14.0